<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313929168758-j1bnm8mg9so25pqsbljv9qvpp9lbv7ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313929168758-j1bnm8mg9so25pqsbljv9qvpp9lbv7ch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313929168758-rofjmjcsh50gjvkiles3a71ca48d64cb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyhS9fVQ-8di5A6yDZco9QDzGG9_kK7lo</string>
	<key>GCM_SENDER_ID</key>
	<string>313929168758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>knovuslab.motorride.com</string>
	<key>PROJECT_ID</key>
	<string>motorridev2</string>
	<key>STORAGE_BUCKET</key>
	<string>motorridev2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313929168758:ios:5db71b5dca7f97aa296c57</string>
	<key>DATABASE_URL</key>
	<string>https://motorridev2.firebaseio.com</string>
</dict>
</plist>